body{
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
}

h1{
    margin-top: 0;
    font-family: 'sacromento', cursive;
    font-size: 5rem;
    color:#66BFBF; 
    line-height: 2;
}

h2{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 2.5rem;
    color:#66BFBF;
    font-weight: normal;
}

h3{
    color: #11999E;
}

.footer-link{
    color: #11999E;
    text-decoration: none;
}

.top-container{
    background-color: #EAf6f6;
    position: relative;
    padding-top: 100px;
}

.p{
    color: #40514e;
}

.hori{
    border-style: dotted none none;
    border-width: 7px;
    border-color: grey;
}

.bottom-cloud{
    position: absolute;
    left: 700px;
    bottom: 300px;
}

.top-cloud{
    position: absolute;
    right: 700px;
    top: 50px;
}

.akshay{
    position: relative;
    top: 30px;
}

.communication{
    width: 50%;
    margin: 100px auto 100px;
    text-align: left;
    line-height: 2;
}

.Technical-Skills{
    width: 50%;
    margin: 100px auto 100px;
    text-align: left;
    line-height: 2;
}

.Technical-Skills-img{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.Communication-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  .bottom-container{
    background-color: #66BFBF;
    padding-bottom: 10px;
    padding-top: 30px;
  }

  .foot{
    color: #EAF6F6;
  }